/* app css stylesheet */

body {
  padding-top: 40px;
}

.albums {
  list-style: none;
}

.result-modal {
	
	padding-top: 200px;
	margin-bottom: 50px;
	max-width: 250px;
	background-color: #ccc;
	
}

.form-area {
	
	max-width: 260px;
	background-color: white;
}

.search-box {
	
	padding-left: 50px;
}

.search-field {
	
	min-width: 700px;
}

.btn-group {
	
	padding-bottom: 5px;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.albums li {
  clear: both;
  height: 30px;
  padding-top: 15px;
}
