<!doctype html>
<html lang="en" ng-app="itunes">
<head>
  <meta charset="utf-8">
  <title>iTunes Album Search</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
</head>
<body>

	<div class='container-fluid' ng-controller="TypeaheadCtrl">
	  
	  <div class="btn-group" data-toggle="buttons-checkbox">
	        <button type="button" class="btn btn-primary" ng-model="radioMedia" btn-radio="'album'">Album</button>
	        <!--<button type="button" class="btn btn-primary" ng-model="radioMedia" btn-radio="'musicArtist'">Artist</button>/-->
	        <button type="button" class="btn btn-primary" ng-model="radioMedia" btn-radio="'song'">Song</button>
   	  </div>
	  
	  <pre>Album: {{result | json}}</pre>
	  <input type="text" ng-model="result" typeahead="suggestion.collectionName for suggestion in albums($viewValue)" placeholder="start searching for albums">
	</div>

</body>
</html>


